<div id="reminder-container">
    <span class="title-span dark-blue">Reminder</span>
    <span id="ride-reminder-span" class="dark-gray">Your scheduled ride to Jiricekova 1, Novi Sad starts soon!</span>
    
    <div id="time-container">
        <span class="time-span dark-blue">17:03:20</span>
        <span id="estimated-time-span" class="dark-gray">Estimated time</span>
    </div>

    <div>
        <button class="reminder-btn" mat-raised-button>Close</button>
        <button class="reminder-btn back-green" mat-raised-button type="submit">Start ride</button>
    </div>
</div>