/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    background-color: #F9F9F9;
    position: relative;
}

html, body { height: 100%; width: 100%; margin: 0; font-family: "Poppins", sans-serif; }

.title {
    margin-top: 0px;
    color: #383838;
    font-weight: 700;
    font-size: 1.7em;
    margin-bottom: 0px;
}

.subtitle {
    color: #A5A5A5;
}

.mat-form-field {
    width: 80%;
    height: 45px;
    display: block;
    margin: auto;
    margin-top: 22px;
    padding: 0;
    font-size: 12px;
}

.mat-form-field-wrapper {
    height: 50px !important;
}

.mat-form-field-subscript-wrapper {
    margin-top: 2px !important;
}


.mat-error {
    margin-top: -1.2px;
    margin-left: -1px;
    font-size: 11px;
}


.mat-icon {
    font-family: 'Material Icons'; 
}

.mat-snack-bar-container {
    color: white;
}

.mat-simple-snackbar-action button {
    color: white;
}

/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0px;
} */
.mat-form-field-prefix {
    top: 1px !important;
}

.conf-button {
    background-color: #1E4A5A !important;
    color: white;
    font-weight: 400 !important;
    font-size: 14px;
    padding: 0px 30px !important;
    margin-top: 25px !important;
    border-radius: 5px;
 }

 .account-update-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 40%;
    height: 500px;
    background-color: white;
 }

 
 .account-settings-form-container {
    text-align: center;
}

#update-img-btn {
    margin-left: -30px;
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 50%;
    border: none;
    padding: 3px 5px;
    background-color: #D9D9D9;
    color: #1E4A5A;
    cursor: pointer;
    font-size: 16px;
}

 

 @media screen and (max-width: 1000px) {
    .account-update-container {
        display: block;
        height: fit-content;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 875px) {
    .account-update-container {
        width: 70%;
    }
}

@media screen and (max-width: 450px){
    .account-update-container{
        width: 90%;
        height: 75%;
    }
}

.profile-img {
    border-radius: 50%;
    width:85px;
    height: 85px;
}

.change-password-form-container {
    text-align: center;
}

.dialog-document-img {
    width: 300px;
    height: 200px;
}


.document-dialog-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




 /* COLORS */

 .dark-blue {
    color: #1E4A5A;
 }

 .white {
    color: white;
 }

 .dark-gray { 
    color: #B1B1B1;
 }

 .orange {
    color: #EC9A29 !important;
}

.black {
    color: #383838 !important;
}

.red {
    color: #A8201A !important;
}

.back-dark-blue {
    background-color: #1E4A5A !important;
}

.back-orange {
    background-color: #EC9A29 !important;
}

.back-red {
    background-color: #A8201A !important;
}

.back-green {
    background-color: #33A02C !important;
}

.back-darker-gray {
    background-color: #DCDCDC !important;
}

.back-light-blue {
    background-color: #6DAFC7 !important;
}
 
 
.border {
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}
