<div class="allFeedBackOptionsContianer">
    <div id="title" class="row">
        <h2>Notes</h2>
        <img src="../../assets/vectors/plus-circle.svg" alt="">
    </div>
    <div class="notesCard">
        <div class="left">
            <div class="row firstRow">
                <img [src]="url" alt="">
                <div>
                    <p id="name">Marko Maric</p>
                    <div class="keyValue">
                        <p class="key">Email:</p>
                        <p id="email" class="value">email@gmail.com</p>
                    </div>
                </div>           
            </div>
            <p id="reasonTitle">Reason:</p>
            <div id="reasonContent">
                <p>Lorem ipsum dolor sit amet consectetur.  Sed metus risus amet at at tellus quis aenean. 
                    Euismod dui platea urna velit vel pellentesque egestas sed at. 
                    Interdum euismod auctor hendrerit maecenas elit. </p>
            </div>
        </div>
        <div class="right">
            <p id="date">at 13:00, 20.11.2022.</p>
        </div>
    </div>
</div>
