.row {
    display: flex;
    flex-direction: row;
}


.allFeedBackOptionsContianer {
    height: fit-content;
    width: 550px;
    background: white;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-top: 3vh;
}

p {
    margin: 0;
    font-size: 0.8em;
    color: #B8B6B6;
    font-family: 'Poppins' sans-serif;
}

h2 {
    margin: 15px 0 10px 15px;
    font-family: 'Poppins' sans-serif;
    color: #1E4A5A;
}

#title > img {
    margin: auto 0 auto auto;
    height: 30px;
}

.notesCard {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 16.5vh;
    background: white;
    border: 1px solid #D9D9D9;
    padding: 15px;
    align-self: center;
    align-content: center;
    border-radius: 10px;
    margin: 0 auto 15px auto;
}

.keyValue {
    display: flex;
    flex-direction: row;
 }

 .keyValue > p {
    padding-right: 0.5em;
    font-size: 0.6em;
 }

 .key {
    color: #1E4A5A;
 }


.right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    width: 20%;
}

#date {
    margin-bottom: auto;
    margin-left: auto;
    font-size: 0.6em;
}


button {
    background-color: #A8201A;
    color: white;
    font-size: 0.6em;
    padding: 5px 10px ;
    border-radius: 10px;
    border: 0;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
    align-self: center;
    margin-top: auto;
    margin-left: auto;
    align-items: center;
    width: 90px;
    margin-bottom: -5px;
}



/* LEFT */

.firstRow {
    align-items: center;
}

.left {
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
}
img {
    width: 50px;
    margin-right: 10px;
    border-radius: 30px;
}

#name {
    color: #1E4A5A;
}
#declinedP {
    color: #A8201A;
}
#acceptedP {
    color: #33A02C;
}

#reasonTitle {
    margin-top: auto;
    color: #1E4A5A;
}
#reasonContent {
    overflow: auto;
    height: 40%;
    width: 100%;
}

/* width */
#reasonContent::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
#reasonContent::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
#reasonContent::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
#reasonContent::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }




  /* ACCEPTED CARD */

  .acceptedContianer {
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 7vh;
    background: white;
    border: 1px solid #D9D9D9;
    padding: 15px;
    align-self: center;
    align-content: center;
    border-radius: 10px;
}

.greenBackground {
    background-color: #33A02C !important;
}


@media only screen and (max-width: 900px) {
    p {
        font-size: 0.8em;
    }

    .pendingContainar {
        width: 80%;
    }

    .declinedContianer {
        flex-direction: column;
        height: fit-content;
        width: 80%;
    }

    .right {
        flex-direction: row;
        margin: 0;
        width: 100%;
        margin-top: 3%;
        align-items: center;
    }

    #reasonContent {
        height: 20vh;
    }

    #date {
        margin: 0;
    }

}