<div id="account-container">
    <img src="../../assets/vectors/profileAvatar.svg">
  
    <p id="userName">Grace Collins</p>
    <p class="roleText" >passenger</p>

    <!-- CONTACT INFO -->
    <div class="sectionTitle">
        <p>Contact Info</p>
        <div class="line"></div>
    </div>
    <div class="data">
        <div class="keyValue">
            <p class="key">Email:</p>
            <p id="email" class="value">email@gmail.com</p>
        </div>
        <div class="keyValue">
            <p class="key">Phone number:</p>
            <p id="phoneNumber" class="value">063245645</p>
        </div>
    </div>

    <!-- LOCATION INFO -->
    <div class="sectionTitle">
        <p>Location Info</p>
        <div class="line"></div>
    </div>
    <div class="data">
        <div class="keyValue">
            <p class="key">City:</p>
            <p id="city" class="value">Novi Sad</p>
        </div>
    </div>


     <!-- CONTACT INFO -->
     <div class="sectionTitle">
        <p>Payment Info</p>
        <div class="line"></div>
    </div>
    <div class="data">
        <div class="keyValue">
            <p class="key">Card:</p>
            <p id="card" class="value">**** **** *** 111</p>
        </div>
        <div class="keyValue">
            <p class="key">Type:</p>
            <p id="cardType" class="value">Master Card</p>
        </div>
    </div>

    <button>Account settings</button>



</div>
