<div id="account-container" [ngClass]="[this._role === 'driver' ? 'account-container-driver' : '', this._role === 'admin' ? 'account-container-admin': '', this._role === 'passenger' ? 'account-container-passenger': '']">
    <img [src]="url" class="profile-img">
  
    <p id="userName">{{ user.name + " " + user.surname }}</p>
    <p class="roleText" *ngIf="this._role === 'passenger'">passenger</p>
    <p class="roleText" *ngIf="this._role === 'driver'">driver</p>
    <p class="roleText" *ngIf="this._role === 'admin'">admin</p>

    <!-- CONTACT INFO -->
    <div class="sectionTitle">
        <p>Contact Info</p>
        <div class="line"></div>
    </div>
    <div class="data">
        <div class="keyValue">
            <p class="key">Email:</p>
            <p id="email" class="value">{{ user.email }}</p>
        </div>
        <div class="keyValue">
            <p class="key">Phone number:</p>
            <p id="phoneNumber" class="value">{{ user.telephoneNumber }}</p>
        </div>
    </div>

    <!-- LOCATION INFO -->
    <div class="sectionTitle">
        <p>Location Info</p>
        <div class="line"></div>
    </div>
    <div class="data">
        <div class="keyValue">
            <p class="key">Address:</p>
            <p id="address" class="value">{{ user.address }}</p>
        </div>
    </div>


     <!-- PAYMENT INFO -->
     <div *ngif="this.isPassenger" class="sectionTitle">
        <p>Payment Info</p>
        <div class="line"></div>
    </div>
    <div *ngif="!this.isDriver" class="data">
        <div class="keyValue">
            <p class="key">Card:</p>
            <p id="card" class="value">**** **** *** 111</p>
        </div>
        <div class="keyValue">
            <p class="key">Type:</p>
            <p id="cardType" class="value">Master Card</p>
        </div>
    </div>


    <!-- VEHICLE INFO -->
    <div *ngIf="this._role === 'driver'" class="sectionTitle">
        <p>Vehicle Info</p>
        <div class="line"></div>
    </div>
    <div *ngIf="this._role === 'driver'" class="data" id="vehicleDataContainer">
        <div>
            <div class="keyValue">
                <p class="key">Model:</p>
                <p id="model" class="value">{{ this.driver.model }}</p>
            </div>
            <div class="keyValue">
                <p class="key">Reg plates:</p>
                <p id="regPlates" class="value">{{ this.driver.licenseNumber }}</p>
            </div>
        </div>
        <div id="vehicleTypeContainer">
            <p class="key">Type:</p>
            <img  [ngClass]="isLuxury ? 'luxuryImgWidth': 'imgWidth'" [src]="urlVehicleType">
        </div>
    </div>

    <button [routerLink]="['/account-settings']"><img id="settingsIcon" src="../../assets/vectors/settingsIcon.svg"><p>Account settings</p></button>



</div>
