<div id="passenger-account-options-container">
    <div class="account-options" (click)="selectOption('settings')" 
    [ngClass]="{'dark-blue' : option == 'settings', 'dark-gray': option != 'settings'}">
        <span class="responsive-span">account</span> settings
    </div>
    <div class="account-options" (click)="selectOption('password')"
      [ngClass]="{'dark-blue' : option == 'password', 'dark-gray': option != 'password'}">
        <span class="responsive-span">change</span> password
    </div>
    <div class="account-options" (click)="selectOption('payment')"
    [ngClass]="{'dark-blue' : option == 'payment', 'dark-gray': option != 'payment'}">
        <span class="responsive-span">change</span> payment info
    </div>
    <div class="account-options" (click)="selectOption('vehicle')"
    [ngClass]="{'dark-blue' : option == 'vehicle', 'dark-gray': option != 'vehicle'}">
        <span class="responsive-span">change</span> vehicle info
    </div>
</div>