.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 55%;
    height: fit-content;
    padding: 5px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px !important;
    margin-bottom: 20px;
    align-items: center;
}


.reg-left {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    border-right: 2px solid #E6E6E6;
    /* font-size: 13px; */
}

.reg-illustartion {
    text-align: center;

}

.reg-illustartion img{
    display: inline-block;
    margin: auto;
}


@media screen and (max-width: 1200px) {
    .reg-illustartion img {
        height: 300px;
    }
}


@media screen and (max-width: 850px) {
    .reg-illustartion {
        display: none;
    }

    .form-container {
        display: block;
        width: 85%;
        margin-top: 40px;
    }

    .reg-left {
        border-right: none;
    }

    mat-form-field {
        width: 85%;
    }
    
}