<div id="favourite-rides-container">
    <h2>Favourite Routes</h2>
    <div class="line"></div>

    <div class="historyCard" *ngFor="let route of routes">
        <img src="../../assets/vectors/map.svg">

        <div class="cardInfo">
            <p>{{ route.from + " -> " + route.to }}</p>
            <div class="row">
                <img src="../../assets/vectors/distance.svg">
                <p class="key">Distance:</p>
                <p class="value">{{ route.distance + "KM" }}</p>
            </div>
            <div class="row">
                <img class="hidden" src="../../assets/vectors/distance.svg">
                <p class="key">Duration:</p>
                <p class="value">{{ route.durationHours + "h " + route.durationMins + "min" }}</p>
            </div>
        </div>
        
        <div id="btnAndHeart">
            <button></button>

            <!-- <img class="favourite" src="../../assets/vectors/heart_empty.svg"> -->
            <img class="favourite" src="../../assets/vectors/heart_red.svg">
        </div>
    </div>

</div>
