<div class="account-update-container border">
    <app-passenger-account-options></app-passenger-account-options>
    <div class="change-payment-info-form-container">
        <form [formGroup]="changePaymentInfoForm" (ngSubmit)="save()" fxLayout="column">
            <div class="credit-card-img-container">
                <img src="../../assets/vectors/credit_card.svg" class="credit-card-img">
            </div>
            <mat-form-field [hideRequiredMarker]="true" id="name">
                <mat-label>Name on card</mat-label>
                <input matInput type="text" name="name-on-card" formControlName="nameOnCard" />
                <mat-error *ngIf="changePaymentInfoForm.get('nameOnCard')?.errors?.['required']">entering name is required</mat-error>
                <mat-error *ngIf="changePaymentInfoForm.get('nameOnCard')?.errors?.['nameRegexError'] && !changePaymentInfoForm.get('nameOnCard')?.errors?.['required']">invalid input</mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true" id="card-number">
                <mat-label>Credit card number</mat-label>
                <input matInput type="tel" name="card-number" formControlName="cardNumber" />
                <mat-error *ngIf="changePaymentInfoForm.errors?.['cardNumberError']">card number has 13-17 digits</mat-error>
            </mat-form-field>
            <div id="date-cvc-container">
                <mat-form-field [hideRequiredMarker]="true" id="card-month">
                    <mat-label>MM</mat-label>
                    <input matInput type="number" name="card-month" formControlName="cardMonth" />
                    <mat-error *ngIf="changePaymentInfoForm.errors?.['cardMonthError']">bad entry</mat-error>
                </mat-form-field>
                <mat-form-field [hideRequiredMarker]="true" id="card-year">
                    <mat-label>YY</mat-label>
                    <input matInput type="number" name="card-year" formControlName="cardYear" />          
                    <mat-error *ngIf="changePaymentInfoForm.errors?.['cardYearError']">bad entry</mat-error>
                </mat-form-field>
                <mat-form-field [hideRequiredMarker]="true" id="card-cvc">
                    <mat-label>CVC</mat-label>
                    <input matInput type="number" name="card-cvc" formControlName="cardCvc" />
                    <mat-error *ngIf="changePaymentInfoForm.errors?.['cardCvcError']">bad entry</mat-error>
                </mat-form-field>
            </div>
            <button class="conf-button" mat-raised-button type="submit">Save</button>
        </form>
    </div>
</div>
<app-snack-bar></app-snack-bar>
