<div class="account-update-container border">
    <app-account-options></app-account-options>
    <!-- <app-account-settings *ngIf="option == 'settings'"></app-account-settings>
    <app-change-password  *ngIf="option == 'password'"></app-change-password>
    <app-change-payment-info *ngIf="option == 'payment'"></app-change-payment-info>
    <app-change-vehicle-info *ngIf="option == 'vehicle'"></app-change-vehicle-info>
    <app-change-documents *ngIf="option == 'documents'"></app-change-documents> -->
    <app-admin-request-details></app-admin-request-details>
</div>
