#dialog {
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

h2 {
    color: #1E4A5A;
    margin: 0 auto;
}

p {
    color: #D9D9D9;
    margin: 0 auto;
    text-align: center;
}

#pickup-time {
    margin: 0 auto;
    width: 100%;
}

mat-form-field {
    width: 100% !important;
}
#btns {
    display: flex;
    flex-direction: row;
}

button {
    width: 100px;
}