<div class="left-icon-card">
    <div class="icon-container">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="content-container">
        <div>
            <p class="dark-blue small-title" >Pick up location:</p>
            <p id="pickup-location" class="card-content">{{ route.pickup.address }}</p>
        </div>
    </div>
</div>
<div class="left-icon-card">
    <div class="icon-container">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
    </div>
    <div class="content-container">
        <div>
            <p class="dark-blue small-title" >Destination:</p>
            <p id="destination-location" class="card-content">{{ route.destination.address }}</p>
        </div>
    </div>
</div>
<div class="left-icon-card" *ngIf="route.scheduledTime != null">
    <div class="icon-container">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
    </div>
    <div class="content-container">
        <div>
            <p class="dark-blue small-title" >At:</p>
            <p id="destination-location" class="card-content">{{ formatDate(route.scheduledTimeFormatted) }}</p>
        </div>
    </div>
</div>
<div id="smaller-cards-container">
    <div class="left-icon-card smaller-card">
        <div class="icon-container back-darker-gray">
            <img src="../../assets/vectors/distance.svg">    
        </div>
        <div class="content-container">
            <div>
                <p class="dark-blue small-title" >Distance:</p>
                <p id="distance" class="card-content">{{ route.distanceFormatted }}</p>
            </div>
        </div>
    </div>
    <div class="left-icon-card smaller-card">
        <div class="icon-container back-darker-gray">
            <i class="fa-solid fa-stopwatch black"></i>
        </div>
        <div class="content-container">
            <div>
                <p class="dark-blue small-title" >Duration:</p>
                <p id="duration" class="card-content">{{ route.durationFormatted }}</p>
            </div>
        </div>
    </div>
    <div class="left-icon-card smaller-card">
        <div class="icon-container back-darker-gray">
            <i class="fa fa-car black" aria-hidden="true"></i>  
        </div>
        <div class="content-container">
            <div>
                <p class="dark-blue small-title" >Vehicle:</p>
                <p id="distance" class="card-content">{{ route.vehicleTypeName }}</p>
            </div>
        </div>
    </div>

    <div class="left-icon-card smaller-card">
        <div class="icon-container back-darker-gray">
            <i class="fa-solid fa-sack-dollar black"></i>
        </div>
        <div class="content-container">
            <div>
                <p class="dark-blue small-title" >Price:</p>
                <p id="duration" class="card-content">{{ route.price }} RSD</p>
            </div>
        </div>
    </div>
    
</div>