<div class="ff-container">
    <form fxLayout="column">
        <div class="document-container">
            <mat-icon>document_scanner</mat-icon>
            <span >Driver license</span>
            <button id="update-img-btn" type="button">
                <i class="fas fa-pencil-alt"></i>
                <input type="file" style="display: none">
            </button>
        </div>
        <div class="document-container">
            <mat-icon>document_scanner</mat-icon>
            <span>Vehicle license</span>
            <button id="update-img-btn" type="button">
                <i class="fas fa-pencil-alt"></i>
                <input type="file" style="display: none" >
            </button>
        </div>
        <button class="conf-button" mat-raised-button type="submit">Save</button>
    </form>
</div>