<div>
    <form fxLayout="column">
        <div *ngFor="let document of documents;"  class="document-container">
            <mat-icon>document_scanner</mat-icon>
            <span (click)="openLicencePopUp()">{{ document.name }}</span>
            <button id="update-img-btn" type="button" (click)="licenceFileInput.click()">
                <i class="fas fa-pencil-alt"></i>
                <input #licenceFileInput type="file" style="display: none" (change)="onLicenceFileSelect($event)">
            </button>
        </div>
        <button class="conf-button" mat-raised-button type="submit">Save</button>
    </form>
</div>