<div class="allFeedBackOptionsContianer">
    <div class="pendingContainar">
        <p>Waiting admin feedback...</p>
    </div>
    <div class="declinedContianer">
        <div class="left">
            <div class="row firstRow">
                <img src="../../assets/vectors/profileAvatar.svg" alt="">
                <p id="name">Mark Jacobs </p>
                <p id="declinedP">&nbsp;declined&nbsp;</p>
                <p>your request</p>
            </div>
            <p id="reasonTitle">Reason:</p>
            <div id="reasonContent">
                <p>Lorem ipsum dolor sit amet consectetur. 
                    Sed metus risus amet at at tellus quis aenean. 
                    Euismod dui platea urna velit vel pellentesque egestas sed at. 
                    Interdum euismod auctor hendrerit maecenas elit. Lorem ipsum dolor sit amet consectetur. 
                    Sed metus risus amet at at tellus quis aenean. 
                    Euismod dui platea urna velit vel pellentesque egestas sed at. 
                    Interdum euismod auctor hendrerit maecenas elit. </p>
            </div>
        </div>
        <div class="right">
            <p id="date">at 13:00, 20.11.2022.</p>
            <button >Declined</button>
        </div>
    </div>
</div>
