#invite-container {
    height: fit-content;
    width: 350px;
    background-color: white;
    text-align: center;
    padding-bottom: 25px;
}

.passenger-photo {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin-left: 5px;
    padding: 7px 0px;
    margin-right: 10px;
}

.invited-card {
    display: flex;
    width: 65%;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    align-items: center;
    margin-top: 10px;
    flex-direction: row;
}

.invited-card p {
    font-size: 0.8em;
}

#invited-cards-cont {
    margin-top: 5px;
    min-height: 120px;
    overflow: auto;
}

h3, h4 {
    margin: 0;
}

#tell-us {
    margin-top: 20px;
}

.exit-btn {
    transform: rotate(45deg);
    color: #92989B;
    font-weight: 700;
    position: absolute;
    right: 7px;
    cursor: pointer;
}

#added-friends {
    display: none;
    text-align: left;
    padding: 0px 20px;
}

.conf-button {
    margin-top: 30px !important;
    background-color: #33A02C !important;
}

h4 {
    margin-top: 30px;
}

form {

}

.display {
    display: block !important;
}

.add-button {
    transform: scale(1.5);
    color: #337D98;
    cursor: pointer;
    margin-left: 10px;
}

mat-form-field mat-icon {
    color: #92989B;
}

mat-form-field {
    font-weight: 500;
    line-height: 35px;
    align-items: center;
    justify-content: center;
    margin: 0px;
    flex: 1;
}

mat-form-field input{
    height: 40px;
    font-size: 14px;
    padding-top: 5px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 3px 0px 3px 0px !important;
    border: 0px;
}

.mat-error {
    line-height: 12px;
}

mat-label {
    color: #B5B5B5;
    font-size: 14px;
}

form {
    height: fit-content;
}

.email-input-cont {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    padding: 0px 20px;
}