<div id="userGraphContainer" [ngClass]="[this._role === 'driver' ? 'containerDesignDriver' : '', this._role === 'passenger' ? 'containerDesignPassenger' : '', this._role === 'admin' ? 'containerDesignAdmin' : '']">
    <div id="reportInfoContainer">
        <div class="greeting" *ngIf="_role != 'admin'">
            <h2>Hey, Grace</h2>
            <img src="../../assets/vectors/wavingHand.svg">
        </div>
        <h3 *ngIf="_role != 'admin'">Tell us about the report:</h3>
        <div class="line" *ngIf="_role != 'admin'"></div>

        <div class="row" *ngIf="_role === 'admin' && inputIdFor != 'all'">
            <p>Input ID:</p>
            <input placeholder="Id" type="number" [(ngModel)]="id">
        </div>

        <div class="row">
            <p>Choose the criteria:</p>
            <div class="dropdown">
                <button class="dropbtn">{{this.selectedType}}</button>
                <div class="dropdown-content">
                  <a (click)="setDistanceTraveledDD()">Distance traveled</a>
                  <a (click)="setRidesNumDD()">Number of rides</a>
                  <a (click)="setMoneySpentDD()" *ngIf="this._role != 'driver'">Money spent</a>
                  <a (click)="setMoneySpentDD()" *ngIf="this._role === 'driver'">Money earnd</a>
                </div>
            </div>
        </div>

        <div class="row">
            <p>Choose date range:</p>
            <input type="text" matInput
                ngxDaterangepickerMd
                [(ngModel)]="selectedDates"
                [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                startKey="start"
                endKey="end"
                name="daterange"
                placeholder="Date range"/>
        </div>

        <button id="generateBtn" (click)="generateBtnOnClick()">Generate report</button>
    </div>
    <div *ngIf="this.reportVisibility === true" [ngClass]="this._role === 'passenger' ? 'reportContainerPassenger' : 'reportContainerDriver'">
        <div class="column">
            <h2>Report</h2>
            <div>
                <div>
                    <p class="title">Total:</p>
                    <p id="total">{{ this.total }}</p>
                </div>
                <div>
                    <p class="title">Average:</p>
                    <p id="average">{{ this.average }}</p>
                </div>
            </div>
            <div></div>
            <button id="pdfBtn">Print pdf</button>
        </div>
        <div class="graph">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>