<div id="userGraphContainer" [ngClass]="isDriver ? 'containerDesign' : 'userGraphContainer'">
    <div id="reportInfoContainer">
        <div class="greeting">
            <h2>Hey, Grace</h2>
            <img src="../../assets/vectors/wavingHand.svg">
        </div>
        <h3>Tell us about the report:</h3>
        <div class="line"></div>

        <div class="row">
            <p>Choose the criteria:</p>
            <div class="dropdown">
                <button class="dropbtn">{{this.selectedType}}</button>
                <div class="dropdown-content">
                  <a (click)="setDistanceTraveledDD()">Distance traveled</a>
                  <a (click)="setRidesNumDD()">Number of rides</a>
                  <a (click)="setMoneySpentDD()">Money spent</a>
                </div>
            </div>
        </div>

        <div class="row">
            <p>Choose date range:</p>
            <input type="text" matInput
                ngxDaterangepickerMd
                [(ngModel)]="selectedDates"
                [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                startKey="start"
                endKey="end"
                name="daterange"
                placeholder="Date range"/>
        </div>

        <button id="generateBtn" (click)="generateBtnOnClick()">Generate report</button>
    </div>
    <div *ngIf="this.reportVisibility === true" [ngClass]="isDriver ? 'reportContainerDriver' : 'reportContainerPassenger'">
        <div class="column">
            <h2>Report</h2>
            <div>
                <div>
                    <p class="title">Total:</p>
                    <p id="total">{{ this.total }}</p>
                </div>
                <div>
                    <p class="title">Average:</p>
                    <p id="average">{{ this.average }}</p>
                </div>
            </div>
            <div></div>
            <button id="pdfBtn">Print pdf</button>
        </div>
        <div class="graph">
            <canvas id="myChart"></canvas>
        </div>
    </div>
</div>