#mainContainer {
    display: flex;
    flex-direction: row;
    width: 510px;
    padding: 0 10px 25px 25px;
    margin: 0 auto;
    margin-top: 20px;
    height: 145px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background-color: white;
}

#mainContainerAlt {
    display: flex;
    flex-direction: row;
    width: 500px;
    padding: 25px 25px 25px 25px;
    margin: 0 auto;
    margin-top: 20px;
    height: 120px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background-color: white;
    color: #B1B1B1;
}

p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.column {
    display: flex;
    flex-direction: column;
}




 /* LEFT */
 .left {
    margin-top: 25px;
    width: 25%;
    height: 100%;
 }

 .left img {
    width: 50%;
    margin: 0 auto 0 auto;
    border-radius: 35px;
 }

 #name {
    color: #1E4A5A;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
}

#role {
    font-size: 0.6em;
    color: #B8B8B8;
    margin: 0 auto auto auto;
}





 /* MIDDLE */
 .middle {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    width: 50%;
 }

.sectionTitle {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0px;
    align-items: baseline;
    color: rgba(38, 50, 56, 0.7);
    
    font-size: 0.7em;
}

#locTitle {
    margin-top: 10px;
}

.line {
    height: 1px;
    /* width: 70%; */
    flex-grow: 1;
    background-color: rgba(38, 50, 56, 0.7);
    border: none;
    outline: none;
    align-items: baseline;
    margin-left: 0.5rem;
}

 /* key-value info */
 .data {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
 }

 .keyValue {
    display: flex;
    flex-direction: row;
 }

 .keyValue > p {
    padding-right: 0.5em;
 }

 .key {
    color: #1E4A5A;
 }


.request-type-tag {
    width: 90px;
    height: fit-content;
    font-size: 0.6em;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    border: 0;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: auto;
    font-family: 'Poppins', sans-serif;
}

.back-green {
    background-color: #33A02C;
}

.back-red {
    background-color: #A8201A;
}