<div id="mainContainer">
    <div class="left column">
        <img src="../../assets/images/profile-placeholder.png">
        <p id="name">Marko Markic</p>
        <p id="role">Passenger</p>
    </div>
    <div class="middle column">
        <div class="sectionTitle">
            <p>Contact Info</p>
            <div class="line"></div>
        </div>
        <div class="data">
            <div class="keyValue">
                <p class="key">Email:</p>
                <p id="email" class="value">gmail@gmail.com</p>
            </div>
            <div class="keyValue">
                <p class="key">Phone number:</p>
                <p id="phoneNumber" class="value">0997879</p>
            </div>
        </div>

        <div id="locTitle" class="sectionTitle">
            <p>Location Info</p>
            <div class="line"></div>
        </div>
        <div class="data">
            <div class="keyValue">
                <p class="key">Address:</p>
                <p id="address" class="value">Novi Sad</p>
            </div>
        </div>
    </div>
    <button class="request-type-tag back-red">Block</button>
</div>
