<div id="mainContainer">
    <div id="left">
        <div class="row">
            <div id="carImg">
                <img src="../../assets/vectors/car.svg">
            </div>
            <h4>{{ departure + " -> " + destination }}</h4>
        </div>

        <div class="row">
            <div class="imgContainer">
                <img src="../../assets/vectors/calendar-alt.svg">
            </div>
            <p class="key">Start time: </p>
            <p class="value">{{ parseDate(ride.startTime) }}</p>
        </div>

        <div class="row">
            <div class="imgContainer">
                <img src="../../assets/vectors/calendar-alt.svg">
            </div>
            <p class="key">End time: </p>
            <p class="value">{{ parseDate(ride.endTime) }}</p>
        </div>

        <div class="row">
            <div class="imgContainer">
                <img src="../../assets/vectors/distance.svg">
            </div>
            <p class="key">Distance: </p>
            <p class="value">{{ ride.distance + ' km' }}</p>
        </div>

        <div class="row">
            <div class="imgContainer">
                <img src="../../assets/vectors/passenger.svg">
            </div>
            <p class="key">Passengers: </p>
            <p class="value">{{ ride.passengers.length }}</p>
        </div>

        <div class="row">
            <div class="imgContainer">
                <img src="../../assets/vectors/moneyBag.svg">
            </div>
            <p class="key">Price(RSD): </p>
            <p class="value">{{ ride.totalCost }}</p>
        </div>
    </div>