<div class="reg-left">
    <h2 class="title">Driver info</h2>
    <form [formGroup]="registerForm" fxLayout="column">
      <mat-form-field [hideRequiredMarker]="true" id="name">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" formControlName="name" />
        <mat-error *ngIf="registerForm.get('name')?.errors?.['required']">entering name is required</mat-error>
        <mat-error *ngIf="registerForm.get('name')?.errors?.['nameRegexError'] && !registerForm.get('name')?.errors?.['required']">invalid name format</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Surname</mat-label>
        <input matInput type="text" name="surname" formControlName="surname" />
        <mat-error *ngIf="registerForm.get('surname')?.errors?.['required']">entering surname is required</mat-error>
        <mat-error *ngIf="registerForm.get('surname')?.errors?.['surnameRegexError'] && !registerForm.get('surname')?.errors?.['required']">invalid surname format</mat-error>        
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" formControlName="email" />
        <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">entering email is required</mat-error>
        <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">invalid email format</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" name="password" formControlName="password" />
        <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">entering password is required</mat-error>
        <mat-error *ngIf="registerForm.get('password')?.errors?.['passwordRegexError'] && !registerForm.get('password')?.errors?.['required']">incorrect input/min 6</mat-error>                    
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type="text" name="address" formControlName="address"/>
        <mat-error *ngIf="registerForm.get('address')?.errors?.['required']">entering address is required</mat-error>
        <mat-error *ngIf="registerForm.get('address')?.errors?.['addressRegexError'] && !registerForm.get('address')?.errors?.['required']">invalid address format</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <input matInput type="tel" name="phonenum" formControlName="phonenum" />
        <mat-error *ngIf="registerForm.get('phonenum')?.errors?.['required']">entering phone number is required</mat-error>
        <mat-error *ngIf="registerForm.get('phonenum')?.errors?.['phonenumRegexError'] && !registerForm.get('phonenum')?.errors?.['required']">invalid phone number format</mat-error>
      </mat-form-field>
    </form>
  </div>
