<div class="default-container border">
    <h1 class="title dark-blue">Forgot password?</h1>
    <p class="subtitle">Please enter your email address to receive a password reset link.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="requestReset()">
        <mat-form-field >
            <mat-label>Email</mat-label>
            <input matInput type="email" name="email" formControlName="email" />
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">entering email is required</mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">invalid email format</mat-error>
            <mat-icon matPrefix> email</mat-icon>
        </mat-form-field>
        <button class="conf-button" mat-raised-button type="submit">Reset Password</button>
    </form>
    <img src="../../assets/vectors/forgot-password.svg" alt="" height="300px">
</div>
