img {
    margin-top: 15px;
}

::ng-deep form {
    width: 80%;
}

::ng-deep .mat-form-field {
    margin-top: 3px;
}

mat-form-field {
    font-weight: 500;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: px;
}

mat-form-field input{
    height: 35px;
    font-size: 14px;
    padding-top: 5px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 12px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 3px 0px 3px 0px !important;
    border: 0px;
}

::ng-deep .mat-icon {
    color: #A5A5A5;
}

.mat-error {
    line-height: 12px;
}



@media screen and (max-width: 450px)  {
    .default-container {
        width: 270px;
    }

    form {
        width: 100%;
    }
}