#login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 55%;
    height: fit-content;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: white;
    border: 1px solid #E6E6E6;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

#form-container {
    border-right: 2px solid #D9D9D9;
    padding: 30px 15px 0px 15px;
}

#eye-icon {
    color: #383838;
}

.title {
    margin-top: 0px;
    color: #383838;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}


mat-form-field {
    width: 70%;
    height: 65px;
    margin: auto;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}


.mat-checkbox {
    display: block;
    margin-top: 9px;
    margin-bottom: 10px;
    color: #383838;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
}

button{
    display: flex;
    height: 35px;
    margin: 10px auto 3px auto;
    border-radius: 5px;
    padding: 4px 35px;
    align-items: center;
    background-color: #1E4A5A;
    color: white;
    font-size: 1em;
}


#forgotten-password-ref{
    display: block;
    width: 100%;
    margin-bottom: 4px;
    font-size: 11px;
    color: #A8201A;
    text-decoration: none;
}

#forgotten-password-ref:hover {
    color: #A8201A;
}

p { 
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 12px;
}

#register-ref{
    font-size: 12px;
    color: #EC9A29;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 5px;
}

#register-ref:hover{
    color: #EC9A29
}

#img-container {
    display: inherit;
    height: 100%;
    align-items: center;
}

#img-container img {
    display: inline-block;
    margin: auto;
    height: 275px;
}

mat-error {
    margin-top: -1.5px;
    font-size: 11px;
}

@media screen and (max-width: 1000px) {
    #login-container {
        width: 65%;
    }
}

@media screen and (max-width: 800px) {
    #img-container {
        display: none;
    }

    #login-container {
        display: block;
        width: 85%;
        margin-top: 40px;
    }

    #form-container {
        border-right: none;
    }

    mat-form-field {
        width: 85%;
    }
    
}