<div id="passanger-container">
    <div id="passanger-left">
        <div id="pass-illustartion">
            <img src="../../assets/vectors/order-ride.svg" height="350px" alt="">
          </div>
        <div id="pass-prompt">
            <h1 class="big-prompt">Need a safe, quick<br>and pleasant ride?</h1>
            <p class="subtitle">Sign up as a <span class="orange">passenger</span> on HopIn and enjoy our services anywhere, anytime.</p>
            <button class="long-button" mat-raised-button>proceed to sign up -></button>
        </div>
    </div>
    <div id="passanger-right">
        <div>
            <h2 class="smaller-prompt">Not sure if we can offer<br>you a good deal?</h2>
            <p class="subtitle">Check out our map and see the cost and duration of the ride we got waiting for you!</p>
            <button class="conf-button back-orange" mat-raised-button>go to the map</button>
        </div>
    </div>
</div>

