
#content {
    padding-bottom: 5px;
}

.big-prompt {
    color: #1E4A5A;
    font-size: 2.5em;
    line-height: 1.1em;
    margin: 0px;
}

.smaller-prompt {
    color: #383838;
    font-size: 1.8em;
    line-height: 1em;
}

button {
    margin-top: 10px !important;
    font-weight: 400;
}

.long-button {
    background-color: #1E4A5A !important;
    color: white;
    padding: 0px 50px;
}

#passanger-container {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 50px;
    height: fit-content;
    width: 95%;
    margin-top: 30px;
    
}

#passanger-left {
    display: flex;
    grid-template-columns: 1fr 1fr;
    vertical-align: middle;
    align-items: center;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    margin-left: 20px;
}

#pass-prompt {
    margin-right: 10px;
}

#pass-illustartion {
    text-align: center;
    margin-right: 25px;
    margin-left: 20px;
}

#passanger-right {
    display: flex;
    align-items: center;
}

#driver-container {
    height: fit-content;
    display: flex;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

#driver-prompt {
    width: 35%;
    margin-left: 40px;
}

#driver-offer {
    height: 80%;
    background-color: #1E4A5A;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 30px 20px;
    margin-right: 40px;
}

.no-bullets {
    list-style-type: none;
    text-align: justify;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

mat-icon {
    vertical-align: middle;
    margin-right: 8px;
}

#driver-illustartion {
    margin-right: 60px;
}

#about-us {
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    margin: 30px 20px 0px 20px;
}

#ready {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

#footer {
    width: 97%;
    margin: 50px auto 20px auto;
    color: #1E4A5A;
    border-top: 3px solid #1E4A5A;
    padding: 5px;
}

#footer-name {
    float: left;
    margin: 0%;
}

#footer-cr {
    float: right;
    margin: 0%;
    font-size: small;
}