<div class="mainContainer">
    <div class="left left-not-alone" >
        <update-requests-display></update-requests-display>
    </div>
    <div class="right">
        <div *ngIf="this._role == 'ROLE_DRIVER'" id="updateDetails">
            <app-update-request-details></app-update-request-details>
        </div>
        <app-admin-request-details-container *ngIf="this._role == 'ROLE_ADMIN'"></app-admin-request-details-container>
        <app-request-feedback></app-request-feedback>
    </div>
</div>