.mainContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    padding-bottom: 50px;
}

.left {
    width: 35vw;
    border: 1px solid black;
    height: 50vh;
    margin-left: auto;
    margin-right: 15px;
}

.right {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: 15px
}

#updateDetails {
    width: 35vw;
    height: fit-content;
    background: white;
    border: 2px solid #D9D9D9;
    padding: 15px;
    padding-bottom: 40px;
}