#card {
    width: 37vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    border: 2px solid #E6E6E6;
    border-radius: 10px;
    background-color: white;
    margin-top: 3vh;
}

.row {
    display: flex;
    flex-direction: row;
}

.mb {
    margin-bottom: 5px;
}

.mu {
    margin-top: 1px;
}

p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
}

h4 {
    margin: 5px 0 0 0;
    color: #3C474C;
}

#name {
    font-size: 1rem;
    color: #1E4A5A;
}

.key {
    color: #3C474C
}

.value {
    margin-left: 3px;
    color: #92989B;
}

#profilePic {
    height: 100%;
    display: flex;
    margin-right: 6px;
}

#profilePic > img {
    height: 90%;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50px;
    margin: auto;
}

#passengerCard {
    width: 100%;
    height: 8vh;
    padding: 6px;
    border: 2px solid #E6E6E6;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#passIcon {
    padding-left: 12px;
    padding-right: 12px;
    background-color: #DCDCDC;
    height: 100%;
    width: 12%;
    display: flex;
    margin-right: 1em;
}

.center {
    margin: auto;
}

.scroll {
    Overflow-y:scroll;
    overflow-x: hidden;
    height: 80%;
    padding-right: 20px;
}

#info {
    width: 80%;
}