<div id="card">
    <div id="passIcon">
        <img class="center" src="../../assets/vectors/passenger.svg">
    </div>
    <div id="info">
        <h4>Passengers who were with you:</h4>
        <div class="scroll">
            <div id="passengerCard" class="row">
                <div id="profilePic">
                    <img src="../../assets/images/profile-placeholder.png">
                </div>
                <div id="passengerInfo">
                    <p id="name">Milan Jelicic</p>
                    <div class="row mu">
                        <p class="key">email:</p>
                        <p class="value">milance@gmail.com</p>
                    </div>
                    <div class="row mb">
                        <p class="key">phone num:</p>
                        <p class="value">+38164555555</p>
                    </div>
                </div>
            </div>

            <!-- <div id="passengerCard" class="row">
                <div id="profilePic">
                    <img src="../../assets/images/profile-placeholder.png">
                </div>
                <div id="passengerInfo">
                    <p id="name">Milan Jelicic</p>
                    <div class="row mu">
                        <p class="key">email:</p>
                        <p class="value">milance@gmail.com</p>
                    </div>
                    <div class="row mb">
                        <p class="key">phone num:</p>
                        <p class="value">+38164555555</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
