.request-details-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 26.5%;
    height: 500px;
    padding: 10px 50px;
}