.request-details-container {
    width: 30.5vw;
    height: 500px;
    padding: 10px 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px){
    .request-details-container{
        height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .request-details-container {
        display: block;
    }
}

@media screen and (max-width: 875px) {
    .request-details-container {
        width: 60%;
    }
}

div > div {
    margin-top: auto;
    display: flex;
    flex-direction: row;
}

.decline-request-button {
    margin-left: 35px;
    margin-bottom: 35px;
    padding: 0px 20px;
    width: 100px;
}

.accept-request-button {
    margin-right: 35px;
    margin-bottom: 35px;
    margin-left: auto;
    padding: 0px 20px;
    width: 100px;
}