.request-details-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 26.5%;
    height: 500px;
    padding: 10px 50px;
    background-color: white;
}

@media screen and (max-width: 1200px){
    .request-details-container{
        height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .request-details-container {
        display: block;
    }
}

@media screen and (max-width: 875px) {
    .request-details-container {
        width: 60%;
    }
}


.decline-request-button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 35px;
    margin-bottom: 35px;
    padding: 0px 20px;
    width: 100px;
}

.accept-request-button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 35px;
    margin-bottom: 35px;
    padding: 0px 20px;
    width: 100px;
}