<nav class="navbar">
    <div class="container">
        <div class="navbar-header">
            <a href="#">
                HopIn
            </a>

            <button class="navbar-toggler" data-toggle="open-navbar1">
                    <div></div>
                    <div></div>
                    <div></div>
            </button>
        </div>  
  
      <div class="navbar-menu" id="open-navbar1">
        <div class="navbar-nav">
            <a href="#" *ngIf="role === 'USER'">Home</a>
            <a href="#" *ngIf="role === 'USER'">Account</a>
            <a href="#" *ngIf="role === 'USER'">History</a>
            <a href="#" *ngIf="role === 'USER'">Log out</a>
            <a href="#" *ngIf="role === null" [routerLink]="['/login']">Log in</a>
            <a href="#" id="signUp" *ngIf="role === null" [routerLink]="['/register']">Sign up</a>  
        </div>
      </div>
    </div>
  </nav>