@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    font-size: 0.725rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.navbar,
.navbar > .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}


.navbar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: #1E4A5A;
    /* padding: 0rem 1.15rem; */
    border-bottom: 1px solid #eceef3;
}

  
.navbar.container {
    @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
}

.navbar-menu {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    padding-right: 1.5rem;
    flex-direction: row-reverse;

    @media (max-width: 768px) {
      display: none;
      text-align: center;
    }
}


.navbar-nav {
    margin-left: auto;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      border-top: 1px solid #EEE;
      margin-top: 1rem;
    }
}

.navbar-menu  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    color: white;
    font-weight: lighter;
}

.navbar-menu a:hover {
    color: black;
}


.navbar-header {
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

.container .navbar-header a {
    text-decoration: none;
    height: fit-content;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    padding-left: 1.5rem;
}


.navbar-toggler {
    /* border-radius: 5px; */
    /* background-color: transparent; */
    cursor: pointer;
    border: none;
    display: none;
    outline: none;
    padding-right: 1.5rem;
}

.navbar-toggler > div {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

  @media screen and (min-width: 768px) {
    #signUp {
        background-color: white;
        color: #1E4A5A;
        border-radius: 12%;
    }
    
    #signUp:hover {
        background-color: black;
    }
}



@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
        background-color: #1E4A5A;
    }

    .navbar-header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }

    .navbar-menu {
        display: none;
        text-align: center;
        padding: 0;
        border-bottom: 2px solid #1E4A5A;
    }

    .navbar-nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #EEE;
        margin-top: 1rem;
    }

    .navbar-menu a {
        background-color:white;
        color: #1E4A5A;
    }
}


  


