#route-suggestion-content {
    width: 85%;
    margin: 40px auto 0px auto;
}

#ride-details {
    display: inline-block;
    width: 32%;
    background-color: white;
    padding: 40px;
    text-align: center;
    margin-right: 20px;
}

#map-container {
    height: 100%;
    width: 68%;
    border-radius: 10px;
}

.left-icon-card {
    height: 70px;
    width: 100%;
    display: inline-block;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    width: 25px;
    height: 46px;
    background-color: #1E4A5A;
    padding: 12px 18px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: 0.8em;
}

.icon-container i {
    color: white;
    padding: 0 !important;
}

.icon-container img {
    width: 100%;
}

.icon-container i {
    font-size: 2.3em;
    color: white;
    padding: 0 !important;
}

.content-container {
    display: flex;
    height: 50px;
    padding: 10px;
    text-align: left;
    float: left;
    align-items: center;
    margin-left: 10px;
}

.small-title {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: -3px;
}

.card-content {
    font-size: 1.2em;
    margin: 0;
    font-weight: 700;
}

h1 { 
    margin-bottom: 40px;
}

.smaller-card {
    width: 45%;
}

#price-card {
    margin-right: 9%;
}

#smaller-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

#bottom-text {
    margin-top: 40px;
    font-weight: 700;
    line-height: 1.2em;
}

#bottom-text a {
    text-decoration: none;
    color: #383838;
    margin: 0px;
}

#bottom-text span:hover {
    color: #b1721b;
}

 p {
    color: #383838;
    margin: 0;
}