.account-settings-form-container {
    text-align: center;
}

mat-form-field{
    display: block;
    width: 65%;
}

mat-error {
    margin-left: -5px;
}

.icon-button{
    border: 2px solid #B1B1B1;
    color: #B1B1B1;
    text-align: center;
    width: 100px;
 }

 .icon-button:hover {
    color: #337D98;
    border: 2px solid #337D98;
 }


 .light-blue {
    color: #337D98;
    border: 2px solid #337D98;
 }

 i {
    font-size: 24px;
 }

 form > button {
    position: absolute;
    right: 50%;
    bottom: 0;
    transform: translate(50%, -50%);
 }

 .icon-button span {
    display: block;
    line-height: 12px;
    margin-bottom: 10px;
 }

 .vehicle-type-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;
    /* flex-direction: column; */
 }

.vehicle-checkbox-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 25px;
}

.mat-checkbox {
    font-family: 'Poppins', sans-serif;
    color: #B1B1B1;
    font-weight: inherit;
    font-size: 0.75em;
}