<div class="account-update-container border">
    <app-passenger-account-options></app-passenger-account-options>
    <div class="change-password-form-container">
        <form [formGroup]="changePasswordForm" (ngSubmit)="save()" fxLayout="column">
            <mat-form-field>
                <mat-label>Enter old password</mat-label>
                <input matInput type="password" name="old-password" formControlName="oldPassword"/>
                <mat-error *ngIf="changePasswordForm.get('oldPassword')?.errors?.['required']">entering password is required</mat-error>
                <mat-error *ngIf="changePasswordForm.get('oldPassword')?.errors?.['passwordRegexError'] && !changePasswordForm.get('oldPassword')?.errors?.['required']">incorrect input/min 6</mat-error>                    
              </mat-form-field>
              <mat-form-field>
                <mat-label>Enter new password</mat-label>
                <input matInput type="password" name="new-password" formControlName="newPassword"/>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">entering new password is required</mat-error>
                <mat-error *ngIf="changePasswordForm.get('newPassword')?.errors?.['passwordRegexError']  && !changePasswordForm.get('newPassword')?.errors?.['required']">incorrect input/min 6 char</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Confirm new password</mat-label>
                <input matInput type="password" name="conf-new-password" formControlName="confNewPassword" [errorStateMatcher]="confirmValidParentMatcher"/>
                <mat-error *ngIf="changePasswordForm.get('confNewPassword')?.errors?.['required']">confirming password is required</mat-error>
                <mat-error *ngIf="changePasswordForm.errors?.['passwordMismatchError']">passwords don't match</mat-error>
              </mat-form-field>
            <button class="conf-button" mat-raised-button type="submit">Save</button>
        </form>
    </div>
</div>
