::ng-deep pickup-destination-form, vehicle-preferences-form {
    height: fit-content;
    width: fit-content;
    position: absolute;
    z-index: 20;
    margin-top: 20px;
    margin-left: 20px;
    left: -50%;
}

::ng-deep mat-horizontal-stepper {
    width: 50%;
    position: absolute;
    left: 25%;
    top: -53px;
    z-index: 40;
    background-color: black;
    
}


::ng-deep .mat-horizontal-content-container {
    padding: 0 !important;
}
::ng-deep .mat-horizontal-stepper-header {
    height: 50px !important;
}

::ng-deep .mat-stepper-horizontal {
    background-color: #1E4A5A;
}

::ng-deep .mat-step-header .mat-step-label {
    color: white;
}
::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: white;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #EC9A29 !important;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
    background-color: #EC9A29 !important;
}
::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: #EC9A29 !important;
}
::ng-deep .mat-stepper-horizontal-line {
    border-top-color: white !important;
}

::ng-deep .mat-step-icon {
    background-color: white;
    color: black;
}



@media screen and (max-width: 700px) {
    pickup-destination-form {
        display: block;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; ;
    }
}

@media screen and (max-width: 420px) {
    pickup-destination-form {
        margin-top: 0;
        width: 100%;
        position: relative;
        height: 300px;
    }

    ::ng-deep .border {
        border-radius: 0px !important;
    }

    ::ng-deep #tell-us {
        margin-top: 10px !important;
    }

    ::ng-deep #unreg-ride-container {
        width: 100% !important;
        padding-bottom: 13px !important;
    }

    ::ng-deep #find-route-btn {
        margin-top: 16px !important;
    }

    ::ng-deep #map {
        position: relative;
        height: calc(100% - 340px) !important;
    }
}