<div class="account-update-container border">
    <app-passenger-account-options></app-passenger-account-options>
    <div class="account-settings-form-container">
        <form [formGroup]="accountSettingsForm" (ngSubmit)="save()" fxLayout="column">
            <div style="width: 100%">
                <div class="profile-img-container">
                    <img src="../../assets/vectors/login.svg" class="profile-img">
                </div>
                <div class="name-form-container">
                    <mat-form-field [hideRequiredMarker]="true" id="name">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" name="name" formControlName="name" />
                        <mat-error *ngIf="accountSettingsForm.get('name')?.errors?.['required']">entering name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Surname</mat-label>
                        <input matInput type="text" name="surname" formControlName="surname" />
                        <mat-error *ngIf="accountSettingsForm.get('surname')?.errors?.['required']">entering surname is required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" formControlName="email" />
                <mat-error *ngIf="accountSettingsForm.get('email')?.errors?.['required']">entering email is required</mat-error>
                <mat-error *ngIf="accountSettingsForm.get('email')?.errors?.['email']">invalid email format</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>City</mat-label>
                <input matInput type="text" name="city" formControlName="city" />
                <mat-error *ngIf="accountSettingsForm.get('city')?.errors?.['required']">entering city is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone number</mat-label>
                <input matInput type="tel" name="phonenum" formControlName="phonenum" />
                <mat-error *ngIf="accountSettingsForm.get('phonenum')?.errors?.['required']">entering phone number is required</mat-error>
            </mat-form-field>
            <button class="conf-button" mat-raised-button type="submit">Save</button>
        </form>
    </div>
</div>
