.account-settings-form-container {
    text-align: center;
}

.profile-img-container {
    display: inline-block;
}

#update-img-btn {
    margin-left: -30px;
    margin-right: 10px;
    margin-top: -5px;
    border-radius: 50%;
    border: none;
    padding: 3px 5px;
    background-color: #B1B1B1;
    color: #1E4A5A;
    cursor: pointer;
    font-size: 16px;
}

.name-form-container {
    display: inline-block;
}

.name-form-container>mat-form-field {
    width: 90%;
    margin-bottom: -5px;
}

mat-form-field{
    display: block;
    width: 65%;
}

mat-error {
    margin-left: -5px;
}

@media screen and (max-width: 1200px) {
    .profile-img-container {
        display: block;
        margin-top: 10px;
        margin-bottom: -10px;
    }

    .name-form-container {
        display: block;
    }

    .name-form-container>mat-form-field {
        width: 65%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 450px) {
    .name-form-container{
        width: 100%;
    }

    .name-form-container>mat-form-field{
        width: 70%;
    }

    mat-form-field {
        width: 70%;
    }
}
