<div id="mainContainer">
    <div id="map">
        <vehicles-map></vehicles-map>
    </div>
    <div id="panicDashboard">
        <div class="title">
            <div class="row">
                <h3 id="panic">PANIC</h3>
                <h3>notifications</h3>
            </div>
            <div class="line"></div>
        </div>
        <div class="panics column">
            <div id="card" class="row">
                <div id="roleIcon">
                    <img class="center" src="../../assets/vectors/passenger.svg">
                </div>
                <div class="left column">
                    <div class="top row">
                        <div id="profilePic">
                            <img src="../../assets/images/profile-placeholder.png">
                        </div>
                        <div class="info">
                            <div class="row">
                                <p>Marko Maric pressed the</p>
                                <p id="smallPanic">PANIC</p>
                                <p>button</p>
                            </div>
                            <p class="date">at 11:09, 23.01.2023.</p>
                        </div>
                    </div>
                    <div class="bottom">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
