#mainContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

#map {
    width: 60%;
    height: 80%;
    margin: 2% 1% auto auto;
    border-radius: 10px;
}



/* RIGHT SIDE */

#right {
    width: 35%;
    height: 100%;
    margin: 2% auto auto 1%;
}

#panicDashboard {
    width: 100%;
    height: 70%;
    border: 1px solid #E6E6E6;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.title {
    width: 100%;
}

h3 {
    margin: 2% auto 2% 4px;
    color: #1E4A5A;
}

#panic {
    margin: 2% 4px 2% auto;
    color: #A8201A;
}

.line {
    height: 2px;
    background-color: #E6E6E6;
    width: 100%;
}


/* CARDS */

.panics {
    Overflow-y:scroll;
    overflow-x: hidden;
}

p {
    font-size: 0.8rem;
    margin: 0;
}

#card {
    height: 150px;
    width: 90%;
    margin: 15px auto;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

#roleIcon {
    padding-left: 12px;
    padding-right: 12px;
    background-color: #DCDCDC;
    height: 100%;
    width: 12%;
    display: flex;
}

.center {
    margin: auto;
}


.left {
    width: 100%;
    height: 150px;
}

.top {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #E6E6E6;
}
#profilePic {
    height: 100%;
    display: flex;
    margin-right: 6px;
    margin-left: 6px;
}

#profilePic > img {
    height: 90%;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50px;
    margin: auto;
}

.info {
    margin: auto 0 auto 5px;
}

.info > .row > p {
    color: #1E4A5A;
}

.date {
    color: #DCDCDC;
    font-size: 0.6rem;
}

#smallPanic {
    color: #A8201A;
    margin-left: 3px;
    margin-right: 3px;
}


/* BOTTOM CARD PART */

.bottom {
    height: 75px;
    width: 100%;
}

.keyValue {
    display: flex;
    flex-direction: row;
 }

 .keyValue > p {
    padding-right: 0.5em;
 }

 .key {
    color: #1E4A5A;
 }

 .value {
    color: #92989B;
 }

 #requests {
    margin-top: 2%;
    height: 8%;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    display: flex;
 }

 .circle {
    background-color: green;
    position: relative;
    bottom: 15px;
    margin: 0;
    padding: 8px 8px 6px 8px;
    height: 1.2rem;
    border-radius: 100px;
    font-size: 0.6rem;
    color: white;
    display: none;
 }


 h4 {
    margin: auto;
 }
