<div id="requests-container" class="border">
    <div id="requests-header">
        <h3 class="title dark-blue">Driver account update requests</h3>
        <div id="header-buttons">
            <div class="header-button" [ngClass]="currentOption == 'pending'? 'selected-header-button': ''" (click)="chooseOption('pending')">
                pending
            </div>
            <div class="header-button" [ngClass]="currentOption == 'processed'? 'selected-header-button': ''" (click)="chooseOption('processed')">
                processed
            </div>
        </div>
    </div>
    <div id="request-cards">
        <div class="request-card" *ngFor="let request of requests" [ngClass]="selectedRequestId == request.id?'selected-request-card': ''" (click)="selectRequest(request)">
            <img [src]="request.driver.profilePicture" class="driver-photo">
            <div class="driver-info">
                <p class="driver-name dark-blue">{{ request.driver.name + " " + request.driver.surname }}</p>
                <div class="driver-contact-info">
                    <p class="driver-email dark-gray"><span class="dark-blue">email:</span> {{ request.driver.email }}</p>
                    <p class="driver-phone dark-gray"><span class="dark-blue">phone num:</span> {{ request.driver.telephoneNumber }}</p>
                </div>    
            </div> 
            <p class="request-time dark-gray">
                {{ formatDate(request.time) }}
            </p>
            <p class="request-type-tag" [ngClass]="request.type.toLowerCase() + '-bcg'">
                {{ request.type.toLowerCase() }}
            </p>            
        </div>
    </div>
</div>
