<div id="unreg-ride-container" class="border">
    <h3 id="tell-us" class="dark-blue">Tell us about the ride:</h3>
    <form [formGroup]="rideForm" (ngSubmit)="findRoute()">
        <mat-form-field id="pickup-loc-mat">
            <mat-label>Pick up location</mat-label>
            <input matInput type="text" name="pickup" formControlName="pickup" ngx-google-places-autocomplete #placesRef="ngx-places"/>
            <mat-icon class="location-icon" matPrefix>location_on</mat-icon>
            <mat-error *ngIf="rideForm.get('pickup')?.errors?.['required']">entering pickup location is required</mat-error>
        </mat-form-field>
        <mat-form-field id="pickup-loc-mat">
            <mat-label>Where to?</mat-label>
            <input matInput type="text" name="destination" formControlName="destination" ngx-google-places-autocomplete #placesRef="ngx-places"/>
            <mat-icon class="location-icon" matPrefix>location_on</mat-icon>
            <mat-error *ngIf="rideForm.get('destination')?.errors?.['required']">entering destination is required</mat-error>
        </mat-form-field>
        <div id="pickup-time" *ngIf="role === 'USER'">
            <mat-form-field>
                <mat-label>Schedule for later</mat-label>
                <input matInput [ngxTimepicker]="picker" [format]="24" formControlName="time">
                <mat-icon class="location-icon" matPrefix>watch_later</mat-icon>
                <ngx-material-timepicker #picker></ngx-material-timepicker>
            </mat-form-field>
        </div>
        <button id="find-route-btn" class="conf-button" mat-raised-button type="submit">find route -></button>
    
    </form>
</div>