#current-ride-content {
    display: grid;
    grid-template-columns: 42% 58%;
    column-gap: 20px;
    width: 85%;
    height: 70%;
    margin: 0 auto !important;
    margin-top: 70px !important;
}

p {
    margin: 0 !important;
}

.left-border {
    border-left: 10px solid #337D98 !important;
}

.container {
    display: block !important;
}

.timer-container {
    margin: 10px 0px;
    display: flex !important;
    align-items: center !important;
    text-align: left !important;
    color: #3C474C !important;
    font-weight: 700;
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 15px;
}

.mat-icon {
    transform: scale(1.3);
    margin-right: 3px;
}

.timer {
    font-size: 1.2em;
    margin-left: 5px;
}

.full-button {
    width: 100%;
    margin-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 1.7em;
    padding: 10px;
    letter-spacing: 1px;
}

.container {
    background-color: white;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1 {
    font-size: 1.6em;
    margin: 0px;
}


#left-part {
    display: inline-block;
    text-align: center;
}

#map-container {
    height: 100%;
    width: 58%;
    border-radius: 10px;
}

.left-icon-card {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 60px calc(100% - 65px);
    column-gap: 5px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    margin-bottom: 13px;
}

.icon-container {
    display: flex;
    width: 25px;
    height: 36px;
    background-color: #1E4A5A;
    padding: 12px 18px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    float: left;
    font-size: 0.8em;
}

.icon-container i {
    color: white;
    padding: 0 !important;
}

.icon-container img {
    width: 100%;
}

.icon-container i {
    font-size: 2em;
    color: white;
    padding: 0 !important;
}

.content-container {
    height: 40px;
    padding: 10px;
    text-align: left;
    float: left;
    align-items: center;
    /* margin-left: 10px; */
}

.small-title {
    font-size: 0.9em;
    margin: 0;
    margin-bottom: -3px;
    color: #1E4A5A !important;
}

.card-content {
    width: calc(100%);
    font-size: 1.1em;
    margin: 0;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 10px;
}

#estimated-time {
    font-size: 2em;
}

h1 { 
    margin-bottom: 30px;
}

.smaller-card {
    /* grid-template-columns: 20% 80% !important; */
    /* margin-bottom: 0px !important; */
}

#price-card {
    margin-right: 9%;
}

#smaller-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 8px;
}

#bottom-text {
    margin-top: 30px;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 0.9em;
}

#bottom-text a {
    text-decoration: none;
    color: #383838;
    margin: 0px;
}

#bottom-text span:hover {
    color: #b1721b;
}

 p {
    color: #383838;
    margin: 0;
}

::ng-deep #map {
    display: inline-block !important;
    border-radius: 10px;
}



/* ::ng-deep #content{
    height: fit-content !important;
} */

@media screen and (max-width: 1450px) {
    #current-ride-content {
        grid-template-columns: 1fr;
        margin-right: 0px;
        margin-bottom: 20px;
        width: 90%;
        margin-top: 40px !important;
    }

    .left-part {
        margin-right: 0px;
    }

    ::ng-deep #map {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1300px) {
    #current-ride-content {
        grid-template-columns: 1fr;
    }

    #route-suggestion-content {
        grid-template-columns: 1fr;
        width: 60%;
    }

    #map-container {
        height: 100%;
        width: 100%;
    }

    #ride-details {
        margin-right: 0;
    }

    ::ng-deep #map {
        height: 500px !important;
    }
}

@media screen and (max-width: 800px) {

    .content-container {
        height: fit-content;
    }

    .left-icon-card {
        height: fit-content;
    }

    .icon-container {
        height: auto;
    }

    .card-content {
        margin-top: 2px;
        white-space: normal !important;
        line-height: 1.2em;
    }

    #smaller-cards-container {
        grid-template-columns: 1fr;
    }

    #route-suggestion-content {
        grid-template-columns: 1fr;
        width: 100%;
        margin: 0;
    }

    #ride-details {
        border-radius: 0 !important;
    }

    #map-container {
        height: 100%;
        width: 100%;
    }

    ::ng-deep #map {
        border-radius: 0px;
    }

    .title {
        font-size: 1.5em;
    }
}