<div id="passenger-account-options-container">
    <div class="account-options"  #accountSettingsOption (click)="resetOptionsColor(); changeClickedColor(accountSettingsOption)"><span class="responsive-span">account</span> settings</div>
    <div class="account-options"  #passwordOption (click)="resetOptionsColor(); changeClickedColor(passwordOption)"><span class="responsive-span">change</span> password</div>
    <div class="account-options" #paymentInfoOption (click)="resetOptionsColor(); changeClickedColor(paymentInfoOption)"><span class="responsive-span">change</span> payment info</div>
</div>