#driver-register-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}


#driver-register-title {
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #D9D9D9;
    font-size: 25px;
}

#driver-register-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#left-driver-register-component, #right-driver-register-component {
    width: 48%;
}

#right-driver-register-component button {
    display: none;
}

#vehicle-container, #document-container, #info-container {
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: white;
}

#document-container{
    overflow-y: scroll;
    --scrollbar-width-height: 15px;
    height: 95px;
}

#vehicle-container {
    margin-bottom: 17px;
}

#register-driver-btn {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    #left-driver-register-component, #right-driver-register-component {
        width: 100%;
    }

    #left-driver-register-component button {
        display: none;
    }

    #right-driver-register-component button {
        display: block;
    }

    #right-driver-register-component  {
        margin-top: 17px;
    }
}
@media screen and (max-width: 1000px) {
    #driver-register-container {
        width: 80%;
    }
    

    #vehicle-container ::ng-deep mat-form-field{
        width: 80% !important;
    }

    #document-container {
        height: 150px;
    }
}

