<div id="driver-register-container">
    <div id="driver-register-title">
        <span class="dark-blue">New driver</span>
    </div>

    <div id="driver-register-form-container">
        <div id="left-driver-register-component">
            <div id="info-container"  class="border">
                <app-driver-register-personal-info 
                (isFormValid)="changeFormSValidity($event)"></app-driver-register-personal-info> 
            </div>     
            <button id="register-driver-btn" (click)="save()" class="conf-button" mat-raised-button type="submit">Register new driver</button>
        </div>
        <div id="right-driver-register-component">
            <div id="vehicle-container" class="border">
                <app-change-vehicle-info 
                [parentComponent]="parentComponent"
                (isFormValid)="changeFormValidity($event)"></app-change-vehicle-info>
            </div>
            <div id="document-container" class="border">
                <app-driver-documents 
                [parentComponent]="parentComponent"
                (sentDocument)="recieveDocument($event)"></app-driver-documents>
            </div>
            <button id="register-driver-btn" (click)="save()" class="conf-button" mat-raised-button type="submit">Register new driver</button>
        </div>
    </div>
</div>
<app-snack-bar></app-snack-bar>